/* =============================GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Nunito:wght@200&family=Outfit&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
/* =============================HEADER */
.nav__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px;
}
.nav__logo{
    cursor: pointer;
    margin-right: auto;
}
.nav__logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.nav__logo img:hover{
    transform: scale(1.2);
}
.nav__links{
    list-style-type: none;
    margin-top: 2rem;
}
.nav__links li{
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}
.nav__links li:hover{
    transform: scale(1.1);
}
.nav__links a{
    font-size: 700;
    text-decoration: none;
}
.nav__icon{
    width: 50px;
}
.nav__submenu{
    display: none;
}

/* =============================MAIN-INDEX */
.subtitle span{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5rem;
    color: black;
}
.subtitle span{
    padding: 1rem;
}
.grid__container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
    "...      subtitle ..."
    "galeria  galeria  galeria"
    "galeria2 galeria2 galeria2";
}
.grid__container .subtitle{
    grid-area: subtitle;
}
.grid__container .galery__container{
    grid-area: galeria;
}
.grid__container .galery__container2{
    grid-area: galeria2;
}
.galery__container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    width: 1600px;
    height: 400px;
}
.galery__container img{
    display: flex;
    flex-wrap: wrap;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.galery__container img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.galery__container2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: flex;
    width: 1600px;
    height: 400px;
    cursor: pointer;
}
.galery__container2 img{
    display: flex;
    flex-wrap: wrap;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.galery__container2 img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.grid__carrusel{
margin-top: .5rem;
}
.controlimage{
    width: 100%;
    height: 100%;
}
.controlimage2{
    width: 100%;
}
.controlimage3{
    width: 100%;
}
.subtitle{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
/* =============================MAIN-TIENDA */
.main__filter{
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.card__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__cards{
    margin: 2rem;
}
/* =============================FOOTER */

.footer__container{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
}
.footer__container a{
    font-family: 'Nunito', sans-serif;
    color: white;
    transition: all 0.5s;
}
.footer__container a:hover{
    transform: scale(1.2);
}


.footer__logo img{
    width: 15%;
}

/* 
==========================================               ========================================== 
========================================== MEDIA QUERIES ========================================== 
==========================================               ========================================== 
*/
@media screen and (max-width: 1600px) {
    .galery__container{
        width: 1400px;
        height: 300px;
    }
    .galery__container2{
        width: 1400px;
        height: 300px;
    }
}
@media screen and (max-width: 1400px) {
    .galery__container{
        width: 1200px;
        height: 300px;
    }
    .galery__container2{
        width: 1200px;
        height: 300px;
    }
}
@media screen and (max-width: 1200px) {
    .galery__container{
        width: 1000px;
        height: 300px;
    }
    .galery__container2{
        width: 1000px;
        height: 300px;
    }
}
@media screen and (max-width: 1000px) {
    .nav__submenu{
        display: block;
    }
    .nav__links a{
        color: white;
    }
    .galery__container{
        width: 900px;
        height: 300px;
    }
    .galery__container2{
        width: 900px;
        height: 300px;
    }
}
@media screen and (max-width: 900px) {
    .galery__container{
        width: 800px;
        height: 250px;
    }
    .galery__container2{
        width: 800px;
        height: 250px;
    }
}
@media screen and (max-width: 800px) {
    .galery__container{
        width: 700px;
        height: 250px;
    }
    .galery__container2{
        width: 700px;
        height: 250px;
    }
}
@media screen and (max-width: 758px){
    .footer__logo img{
        width: 70px;
    }
}
@media screen and (max-width: 700px) {
    .galery__container{
        width: 600px;
        height: 200px;
    }
    .galery__container2{
        width: 600px;
        height: 200px;
    }
}
@media screen and (max-width: 600px) {
    .subtitle span{
        padding: 0.3rem;
    }
    .subtitle span{
        font-size: 1.2rem;
    }
    .galery__container{
        width: 500px;
        height: 200px;
    }
    .galery__container2{
        width: 500px;
        height: 200px;
    }
}
@media screen and (max-width: 500px) {
    .galery__container{
        width: 400px;
        height: 150px;
    }
    .galery__container img:hover{
        width: 200px;
    }
    .galery__container2 img:hover{
        width: 200px;
    }
    .galery__container2{
        width: 400px;
        height: 150px;
    }
}
@media screen and (max-width: 400px) {
    .galery__container{
        width: 300px;
        height: 150px;
    }
    .galery__container2{
        width: 300px;
        height: 150px;
    }
    .footer__container a{
        font-size: small;
    }
}
@media screen and (max-width: 300px) {
    .galery__container{
        width: 250px;
        height: 100px;
    }
    .galery__container2{
        width: 250px;
        height: 100px;
    }
    .galery__container img:hover{
        width: 100px;
    }
    .galery__container2 img:hover{
        width: 100px;
    }
}